<%- include("partials/header") %>

<h1>Net Generator</h1>
<p>Welcome to Net Generator, a site that can generate matches on the fly!</p>

<form action="/" method="POST">
    <div>
        <input type="text" name="name" placeholder="Name">
    </div>
    <div>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="plays_right" name="plays" value="right" class="custom-control-input" checked>
            <label class="custom-control-label" for="plays_right">Right</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="plays_left" name="plays" class="custom-control-input">
            <label class="custom-control-label" for="plays_left">Left</label>
        </div>
    </div>
    <div>
        <input type="text" name="image" placeholder="Paste Image URL">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>

</form>

<%- include("partials/footer") %>
