<%- include("../partials/header") %>

<h1>Match Generated</h1>

<p>Click on the links below to see data about the match</p>

<a href="/match/data">Data</a>
<a href="/match/rallytree">Rally Tree</a>



<%- include("../partials/footer") %>

