<%- include("../partials/header") %>

<h1>Match Generated</h1>

<p>Click on the links below to see data about the match</p>

<a href="/match/points">Raw Data</a>
<a href="/match/summary">Match Summary</a>



<%- include("../partials/footer") %>

