<%- include("../partials/header") %>

<h1>Point Map</h1>
<a href="/match">Go back</a>

<p>
    See point map
</p>

<div id="dashboard_div">
    <div id="filter_div"></div>
    <div id="chart_div"></div>
</div>

<%- include("../partials/footer") %>
