<%- include("../partials/header") %>


  


<h1>Match Summary</h1>

<a href="/match">Go back</a>

<h3>Table</h3>

<div id="pointTable"></div>


<script>
    
    google.charts.setOnLoadCallback(drawTable);

    function drawTable() {
        const pointData = new google.visualization.DataTable();
       pointData.addColumn("number", "Point #");
       <% data.forEach(point => { %>
        pointData.addRows(<%= point.point %>);
       <% }) %>

        const pointTable = new google.visualization.Table(document.getElementById('pointTable'));

        pointTable.draw(pointData, {showRowNumber: true, width: '100%', height: '100%'});
    };
  </script>
<%- include("../partials/footer") %>
