<%- include("../partials/header") %>

<h1>Match Summary</h1>

<a href="/match">Go back</a>

<h1>Bar Chart using D3.js</h1>

<svg class="bar-chart"></svg>


<%- include("../partials/footer") %>
